<div id="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <h1><%= t('sendmail.confirmation_title') %>  <small><%= t('sendmail.confirmation_description') %></small></h1>
      <ol class="breadcrumb">
        <li class="active"><i class="fa fa-dashboard"></i> <%= t('sendmail.confirmation_title') %> </li>
      </ol>
    </div>
  </div>

  <p>
    <%= t('sendmail.message') %>
  </p>

</div>
