<div id="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <h1><%= t('logs.title') %> <small><%= t('logs.description') %></small></h1>
      <ol class="breadcrumb">
        <li class="active"><i class="fa fa-dashboard"></i> <%= t('logs.title') %> </li>
      </ol>
    </div>
  </div>

  <pre><%= @logs %></pre>
</div>

