<p id="notice"><%= notice %></p>

<p>
  <strong>Person:</strong>
  <%= @personalgroup.person %>
</p>

<%= link_to 'Edit', edit_personalgroup_path(@personalgroup) %> |
<%= link_to 'Back', personalgroups_path %>
